.AppBar {
    display: 'flex';
    justify-content: 'space-between';
    padding: '0.5rem 2rem';
}

.Navigation {
    width: 100%;
    min-height: 32px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    flex: 1;
    flex-wrap: wrap;
}

.Navigation a {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: #080808;
}

.Navigation a:hover {
    background-color: rgb(63, 63, 63);
}

.NavItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.Header {
    width: 100%;
    padding: 0 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.HeaderInfo {
    font-size: small;
}

.Warning {
    color: rgb(255, 81, 0);
}
