.Container {
    padding: 0;
}

.Main {
    padding: 0 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.Inputs {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
